In [1]:
import pandas as pd

In [2]:
movies=pd.read_csv(r"C:\Users\Khyathi\Downloads\ml-25m\ml-25m\movies.csv")

In [3]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

In [4]:
#Cleaning Movie Titles With Regex.................

In [5]:
#Building the serach engine
import re
def clean_title(title):
    return re.sub("[^a-zA-Z0-9 ]","",title)

In [6]:
#creating a sub column that has cleaned titles
movies["clean_title"] = movies["title"].apply(clean_title)
#at the end it just endup with cleaned up titles

In [7]:
movies

,movieId,title,genres,clean_title
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,Jumanji 1995
2,3,Grumpier Old Men (1995),Comedy|Romance,Grumpier Old Men 1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Waiting to Exhale 1995
4,5,Father of the Bride Part II (1995),Comedy,Father of the Bride Part II 1995
...,...,...,...,...
62418,209157,We (2018),Drama,We 2018
62419,209159,Window of the Soul (2001),Documentary,Window of the Soul 2001
62420,209163,Bad Poems (2018),Comedy|Drama,Bad Poems 2018
62421,209169,A Girl Thing (2001),(no genres listed),A Girl Thing 2001
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama,Women of Devils Island 1962

In [8]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\khyathi\anaconda3\lib\site-packages (1.2.2)
Requirement already satisfied: joblib>=1.1.1 in c:\users\khyathi\anaconda3\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\khyathi\anaconda3\lib\site-packages (from scikit-learn) (1.22.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\khyathi\anaconda3\lib\site-packages (from scikit-learn) (2.1.0)
Requirement already satisfied: scipy>=1.3.2 in c:\users\khyathi\anaconda3\lib\site-packages (from scikit-learn) (1.10.1)

In [9]:
#CREATING A TFIDF MATRIX
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer =  TfidfVectorizer(ngram_range=(1,2))
tfidf = vectorizer.fit_transform(movies["clean_title"] )

In [10]:
#CREATING A SEARCH FUNCTION..............
#Comparing the similarities between the term we enter
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np
def search(title):
    
    title= clean_title(title)
    query_vec=vectorizer.transform([title])
    similarity=cosine_similarity(query_vec,tfidf).flatten()
    indices = np.argpartition(similarity,-5)[-5:]
    results=movies.iloc[indices][::-1]
    return results

In [11]:
pip install ipywidgets

Requirement already satisfied: ipywidgets in c:\users\khyathi\anaconda3\lib\site-packages (7.6.3)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\khyathi\anaconda3\lib\site-packages (from ipywidgets) (5.1.3)
Requirement already satisfied: widgetsnbextension~=3.5.0 in c:\users\khyathi\anaconda3\lib\site-packages (from ipywidgets) (3.5.1)
Requirement already satisfied: traitlets>=4.3.1 in c:\users\khyathi\anaconda3\lib\site-packages (from ipywidgets) (5.0.5)
Requirement already satisfied: ipython>=4.0.0 in c:\users\khyathi\anaconda3\lib\site-packages (from ipywidgets) (7.22.0)
Requirement already satisfied: ipykernel>=4.5.1 in c:\users\khyathi\anaconda3\lib\site-packages (from ipywidgets) (5.3.4)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in c:\users\khyathi\anaconda3\lib\site-packages (from ipywidgets) (1.0.0)
Requirement already satisfied: jupyter-client in c:\users\khyathi\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets) (6.1.12)
Requirement already satisfied: tornado>=4.2 in c:\users\khyathi\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets) (6.1)
Requirement already satisfied: pygments in c:\users\khyathi\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets) (2.8.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\khyathi\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets) (52.0.0.post20210125)
Requirement already satisfied: colorama in c:\users\khyathi\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets) (0.4.4)
Requirement already satisfied: jedi>=0.16 in c:\users\khyathi\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets) (0.17.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\khyathi\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets) (3.0.17)
Requirement already satisfied: backcall in c:\users\khyathi\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\khyathi\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets) (0.7.5)
Requirement already satisfied: decorator in c:\users\khyathi\anaconda3\lib\site-packages (from ipython>=4.0.0->ipywidgets) (5.0.6)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\khyathi\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=4.0.0->ipywidgets) (0.7.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\khyathi\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets) (3.2.0)
Requirement already satisfied: jupyter-core in c:\users\khyathi\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets) (4.7.1)
Requirement already satisfied: ipython-genutils in c:\users\khyathi\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets) (0.2.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\khyathi\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets) (20.3.0)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\khyathi\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets) (0.17.3)
Requirement already satisfied: six>=1.11.0 in c:\users\khyathi\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets) (1.15.0)
Requirement already satisfied: wcwidth in c:\users\khyathi\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=4.0.0->ipywidgets) (0.2.5)
Requirement already satisfied: notebook>=4.4.1 in c:\users\khyathi\anaconda3\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets) (6.3.0)
Requirement already satisfied: jinja2 in c:\users\khyathi\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (2.11.3)
Requirement already satisfied: argon2-cffi in c:\users\khyathi\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (20.1.0)
Requirement already satisfied: nbconvert in c:\users\khyathi\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (6.0.7)
Requirement already satisfied: terminado>=0.8.3 in c:\users\khyathi\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.9.4)
Requirement already satisfied: prometheus-client in c:\users\khyathi\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.10.1)
Requirement already satisfied: Send2Trash>=1.5.0 in c:\users\khyathi\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (1.5.0)
Requirement already satisfied: pyzmq>=17 in c:\users\khyathi\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (20.0.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\khyathi\anaconda3\lib\site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets) (2.8.1)
Requirement already satisfied: pywin32>=1.0 in c:\users\khyathi\anaconda3\lib\site-packages (from jupyter-core->nbformat>=4.2.0->ipywidgets) (227)
Requirement already satisfied: pywinpty>=0.5 in c:\users\khyathi\anaconda3\lib\site-packages (from terminado>=0.8.3->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.5.7)
Requirement already satisfied: cffi>=1.0.0 in c:\users\khyathi\anaconda3\lib\site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (1.14.5)
Requirement already satisfied: pycparser in c:\users\khyathi\anaconda3\lib\site-packages (from cffi>=1.0.0->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (2.20)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\khyathi\anaconda3\lib\site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (1.1.1)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\khyathi\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (1.4.3)
Requirement already satisfied: bleach in c:\users\khyathi\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (3.3.0)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\khyathi\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.3)
Requirement already satisfied: defusedxml in c:\users\khyathi\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in c:\users\khyathi\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.1.2)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\khyathi\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.8.4)
Requirement already satisfied: testpath in c:\users\khyathi\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.4.4)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in c:\users\khyathi\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.5.3)
Requirement already satisfied: async-generator in c:\users\khyathi\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (1.10)
Requirement already satisfied: nest-asyncio in c:\users\khyathi\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (1.5.1)
Requirement already satisfied: webencodings in c:\users\khyathi\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (0.5.1)
Requirement already satisfied: packaging in c:\users\khyathi\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (20.9)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\khyathi\anaconda3\lib\site-packages (from packaging->bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets) (2.4.7)
Note: you may need to restart the kernel to use updated packages.

In [12]:
pip install IPython

Requirement already satisfied: IPython in c:\users\khyathi\anaconda3\lib\site-packages (7.22.0)
Requirement already satisfied: traitlets>=4.2 in c:\users\khyathi\anaconda3\lib\site-packages (from IPython) (5.0.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\khyathi\anaconda3\lib\site-packages (from IPython) (3.0.17)
Requirement already satisfied: backcall in c:\users\khyathi\anaconda3\lib\site-packages (from IPython) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\khyathi\anaconda3\lib\site-packages (from IPython) (52.0.0.post20210125)
Requirement already satisfied: pickleshare in c:\users\khyathi\anaconda3\lib\site-packages (from IPython) (0.7.5)
Requirement already satisfied: decorator in c:\users\khyathi\anaconda3\lib\site-packages (from IPython) (5.0.6)
Requirement already satisfied: pygments in c:\users\khyathi\anaconda3\lib\site-packages (from IPython) (2.8.1)
Requirement already satisfied: jedi>=0.16 in c:\users\khyathi\anaconda3\lib\site-packages (from IPython) (0.17.2)
Requirement already satisfied: colorama in c:\users\khyathi\anaconda3\lib\site-packages (from IPython) (0.4.4)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\khyathi\anaconda3\lib\site-packages (from jedi>=0.16->IPython) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\khyathi\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->IPython) (0.2.5)
Requirement already satisfied: ipython-genutils in c:\users\khyathi\anaconda3\lib\site-packages (from traitlets>=4.2->IPython) (0.2.0)
Note: you may need to restart the kernel to use updated packages.

In [13]:
#building interactive jupyter search box
import ipywidgets as widgets
from IPython.display import display


movie_input=widgets.Text(
    value="Toy Story",
    description="MovieTitle:",
    disabled=False
)
movie_list=widgets.Output()
def on_type(data):
    with movie_list:
        movie_list.clear_output()
        title=data["new"]
        if len(title)>5:
            display(search(title))
            
movie_input.observe(on_type,names='value')

display(movie_input,movie_list)

Text(value='Toy Story', description='MovieTitle:')

Output()

In [134]:
query_vec

<1x170073 sparse matrix of type '<class 'numpy.float64'>'
	with 5 stored elements in Compressed Sparse Row format>

In [135]:
#READING IN MOVIE RATINGS
ratings=pd.read_csv(r"C:\Users\Khyathi\Downloads\ml-25m\ml-25m\ratings.csv")

In [136]:
ratings

          userId  movieId  rating   timestamp
0              1      296     5.0  1147880044
1              1      306     3.5  1147868817
2              1      307     5.0  1147868828
3              1      665     5.0  1147878820
4              1      899     3.5  1147868510
...          ...      ...     ...         ...
25000090  162541    50872     4.5  1240953372
25000091  162541    55768     2.5  1240951998
25000092  162541    56176     2.0  1240950697
25000093  162541    58559     4.0  1240953434
25000094  162541    63876     5.0  1240952515

[25000095 rows x 4 columns]

#FINDING THE USERS WHO LIKED THE SAME MOVIE

In [137]:
movie_id=1

In [138]:
Similar_users=ratings[(ratings["movieId"] == movie_id)  & (ratings["rating"]>=5)]["userId"].unique()

In [139]:
Similar_users

array([    36,     75,     86, ..., 162518, 162519, 162530], dtype=int64)

In [140]:
Similar_users_recs=ratings[(ratings["userId"].isin(Similar_users)) & (ratings["rating"] > 4)]

In [141]:
Similar_users_recs

          userId  movieId  rating  timestamp
5101          36        1     5.0  857131378
5105          36       34     5.0  834413787
5111          36      110     5.0  834412999
5114          36      150     5.0  839928587
5127          36      260     5.0  857131062
...          ...      ...     ...        ...
24998388  162530     3706     5.0  989809041
24998389  162530     3735     5.0  989808150
24998391  162530     3763     5.0  989809659
24998392  162530     4187     5.0  989809274
24998393  162530     4321     5.0  989807602

[912084 rows x 4 columns]

In [142]:
Similar_users_recs=ratings[(ratings["userId"].isin(Similar_users) & (ratings["rating"] >=4))]["movieId"]

In [143]:
Similar_users_recs

5101           1
5104          11
5105          34
5106          46
5108          60
            ...
24998389    3735
24998390    3751
24998391    3763
24998392    4187
24998393    4321
Name: movieId, Length: 1783202, dtype: int64

In [144]:
Similar_users_recs = Similar_users_recs.value_counts() /len(Similar_users)

Similar_users_recs = Similar_users_recs[Similar_users_recs > .1]

In [145]:
Similar_users_recs

1       1.000000
260     0.521102
318     0.516733
356     0.502443
296     0.458315
          ...
1358    0.101733
1485    0.101659
16      0.101140
899     0.100326
8874    0.100252
Name: movieId, Length: 256, dtype: float64

In [146]:
#FINDING HOW MUCH ALL THE USERS IN THE DATASET LIKE ALL THE MOVIES
all_users = ratings[(ratings["movieId"].isin(Similar_users_recs.index)) & (ratings["rating"]>4)]

In [147]:
all_users

          userId  movieId  rating   timestamp
0              1      296     5.0  1147880044
19             1     2692     5.0  1147869100
29             1     4973     4.5  1147869080
48             1     7361     5.0  1147880055
72             2      110     5.0  1141416589
...          ...      ...     ...         ...
25000062  162541     5618     4.5  1240953299
25000065  162541     5952     5.0  1240952617
25000078  162541     7153     5.0  1240952613
25000081  162541     7361     4.5  1240953484
25000090  162541    50872     4.5  1240953372

[2455054 rows x 4 columns]

In [148]:
all_users_recs = all_users["movieId"].value_counts() / len(all_users["userId"].unique())

In [149]:
all_users_recs

318     0.332559
296     0.276637
2571    0.237144
356     0.228624
593     0.219531
          ...
2078    0.014215
1485    0.013025
2080    0.012825
1022    0.012214
708     0.010045
Name: movieId, Length: 256, dtype: float64

In [150]:
#CREATING A RECOMMENDATION SCORE
rec_percentages = pd.concat([Similar_users_recs,all_users_recs], axis=1)
rec_percentages.columns = ["Similar","all"]

In [151]:
rec_percentages

        Similar       all
1      1.000000  0.121207
2      0.135940  0.017163
6      0.161188  0.047434
10     0.143862  0.021468
11     0.133866  0.021178
...         ...       ...
68157  0.107064  0.064706
68954  0.179846  0.063110
78499  0.172146  0.034139
79132  0.174219  0.127675
91529  0.104324  0.053341

[256 rows x 2 columns]

In [152]:
rec_percentages["score"]=rec_percentages["Similar"] / rec_percentages["all"]

In [153]:
rec_percentages = rec_percentages.sort_values("score",ascending=False)

In [154]:
rec_percentages

        Similar       all      score
708    0.107878  0.010045  10.739077
2355   0.249889  0.024383  10.248480
2080   0.109211  0.012825   8.515203
1022   0.102473  0.012214   8.389772
1      1.000000  0.121207   8.250332
...         ...       ...        ...
58559  0.201392  0.142334   1.414925
7361   0.140234  0.101297   1.384388
79132  0.174219  0.127675   1.364553
4973   0.143492  0.109231   1.313651
2959   0.270324  0.210599   1.283599

[256 rows x 3 columns]

In [155]:
rec_percentages.head(10).merge(movies,left_index=True,right_on="movieId")

,Similar,all,score,movieId,title,genres,clean_title
693,0.107878,0.010045,10.739077,708,"Truth About Cats & Dogs, The (1996)",Comedy|Romance,Truth About Cats Dogs The 1996
2264,0.249889,0.024383,10.248480,2355,"Bug's Life, A (1998)",Adventure|Animation|Children|Comedy,Bugs Life A 1998
1991,0.109211,0.012825,8.515203,2080,Lady and the Tramp (1955),Animation|Children|Comedy|Romance,Lady and the Tramp 1955
999,0.102473,0.012214,8.389772,1022,Cinderella (1950),Animation|Children|Fantasy|Musical|Romance,Cinderella 1950
0,1.000000,0.121207,8.250332,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 1995
435,0.135125,0.016558,8.160812,440,Dave (1993),Comedy|Romance,Dave 1993
721,0.169776,0.021410,7.929787,736,Twister (1996),Action|Adventure|Romance|Thriller,Twister 1996
1989,0.112691,0.014215,7.927372,2078,"Jungle Book, The (1967)",Animation|Children|Comedy|Musical,Jungle Book The 1967
1,0.135940,0.017163,7.920634,2,Jumanji (1995),Adventure|Children|Fantasy,Jumanji 1995
588,0.117355,0.014827,7.915112,596,Pinocchio (1940),Animation|Children|Fantasy|Musical,Pinocchio 1940

In [156]:
#BUILDING A RECOMMENDATION FUNCTION
def find_Similar_movies(movie_id):
    Similar_users=ratings[(ratings["movieId"] == movie_id)  & (ratings["rating"]>=5)]["userId"].unique()
    Similar_users_recs=ratings[(ratings["userId"].isin(Similar_users)) & (ratings["rating"] > 4)]["movieId"]
    
    Similar_users_recs = Similar_users_recs.value_counts() /len(Similar_users)
    Similar_users_recs = Similar_users_recs[Similar_users_recs > .10]
    
    #FINDING HOW MUCH ALL THE USERS IN THE DATASET LIKE ALL THE MOVIES
    all_users = ratings[(ratings["movieId"].isin(Similar_users_recs.index)) & (ratings["rating"]>4)]
    all_users_recs = all_users["movieId"].value_counts() / len(all_users["userId"].unique())
    
    
    #CREATING A RECOMMENDATION SCORE
    rec_percentages = pd.concat([Similar_users_recs,all_users_recs], axis=1)
    rec_percentages.columns = ["Similar","all"]
    
    
    rec_percentages["score"]=rec_percentages["Similar"] / rec_percentages["all"]
    rec_percentages = rec_percentages.sort_values("score",ascending=False)
    
    return rec_percentages.head(10).merge(movies,left_index=True,right_on="movieId")[["score","title","title","genres"]]

In [160]:
#BUILDING A RECOMMENDATION WIDGET
movie_name_input = widgets.Text(
    value="Toy Story",
    description="Movie Title:",
    disable=False

)

recommendation_list = widgets.Output()

def on_type(data):
    with recommendation_list:
        recommendation_list.clear_output()
        title=data["new"]
        if len(title) >5:
            results = search(title)
            movie_id = results.iloc[0]["movieId"]
            display(find_Similar_movies(movie_id))
movie_name_input.observe(on_type,names="value")

display(movie_name_input,recommendation_list)

Text(value='Toy Story', description='Movie Title:')

Output()